## adapted from https://stackoverflow.com/questions/5711120/gitignore-without-binary-files 
# ignore all files
*

# un-ignore all files with an extension 
!*.*

# ignore any files from compiling c
*.out

# un-ignore all directories 
!*/

.DS_Store
